*{
    margin: 0;
    padding: 0;
}

.stepthcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 400px;
    padding: 40px 40px;
    margin: auto;
    margin-top: 10%;
    background-color: #f8f8f8;
    padding: 0 20px 0 20px;
}
h1{
    font-size: 58px;
}
.green {
    color: #4cff05;

}
.textp{
    font-weight: 100;
    font-size: 16px;
    justify-content: center;
    /* text-align: center; */
    align-items: center;

}
.bold-tex{
    font-weight: bold;
}
.dis-step{
    display: flex;
    gap: 180px;
    margin: 10px;
    
}
.dis-flex{
    display: flex;
    gap: 150px;
}

.btn a {
    /* width: 70px; */
    /* margin-top: 40px; */
    padding: 5px 80px 5px 80px;
    border-radius: 15px;
    border-style: none;
    text-decoration: none;
    
} 

.red-pre{
    background-color: red;
    color: #f8f8f8;
}

.green-btn{
    background-color: #4cff05;
    color: #f8f8f8;
}